 

h1 {color:#0066ff; font-family: Cambria; font-weight:bold; font-size: 185%;}  
h2 {color:#616161; font-family: Cambria; font-size: 105%;}   
h3{color:#616161; font-family: Cambria; font-weight:bold; font-size: 105%;} 
 
 
body {font-family: Cambria; color:#616161; padding: 3%;}
 
p {margin-left: 5%;  margin-right: 5% ;}

ul  {list-style-type: square; font-family: Cambria; color:#616161;margin-left: 10%; }
table {width: 50%; margin-left: auto; margin-right: auto; 
	   border-color:#0084a5; 
	   border-style: ridge; 
	   border-width: 10 px; 
	   text-align: center;
	   }
	   .menu  {text-align: center; width: 50%;}
	   .menupipe {width: 1%;} 
th 	{font-weight: bold;}

map {font-family: Cambria; color:#616161; }

a {text-decoration: none;  color: navy; font-weight: bold;}
a.hover {background: black; color: black;}
